.wrapper {
    width: 100%;
    z-index: 1;
    margin: 0 auto;
}

.txt-content {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, -25px, 0);
}

.headline {
    font-weight: 800;
    letter-spacing: -1.3px;
    font-size: 30px;
    line-height: 1.2;
    transform: translate3d(0, -40px, 0);
    transition: transform .8s .3s,
                opacity .8s .3s;
}

.subline {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.2;
    transition: transform .8s .7s,
                opacity .8s .7s;
}

.box {
    width: 200px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.outer-box {
    transform: translate3d(0, 70px, 0);
    opacity: 0;
    transition: transform .8s 1.2s,
                opacity .8s 1.2s,
                width .4s;
}

.loagan.bw {
    background-image: url('../logan.jpg');
    background-size: cover;
    background-position: center;
}

.logan.color {
    width: 100%;
    background-image: url('../logan-color.png');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transform: scaleX(0);
    transition: opacity .3s, transform .4s;
}

.david {
    color: #FEE934;
    width: 70px;
    letter-spacing: -.5px;
    font-size: 20px;
    line-height: .9;
    position: relative;
    top: 235px;
    left: calc(50% - 35px);
    transform: translate3d(0, 70px, 0);
    transition: opacity .2s .05s cubic-bezier(0,0,.2,1),
                transform .3s .05s cubic-bezier(0,0,.2,1);
}

.arrow-div {
    width: 75px;
    height: 30px;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translate3d(0, -25px, 0);
    transition: transform .8s 2s,
                opacity .8s 2s;
    animation: pip-animation 2.5s 3s infinite;
}

.arrow {
    width: 12px;
    height: 12px;
    border: solid black;
    border-width: 0 5px 5px 0;
    transform: rotate(-135deg);
}

@keyframes pip-animation {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(16px);
    }
    60% {
        transform: translateY(8px);
    }
}

.outer-box:hover {
    cursor: pointer;
    width: 275px;
}

.outer-box:hover .logan.color {
    opacity: 1;
    transform: scaleX(1);
}

.outer-box:hover .logan.color .david {
    opacity: 1;
    transform: none;
}

.wrapper.is-active .headline,
.wrapper.is-active .subline,
.wrapper.is-active .choose-me,
.wrapper.is-active .outer-box,
.wrapper.is-active .arrow-div {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}


